*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", Sans-serif;
}

p{
    font-size: 0.9em;
    line-height: 1.5;
}

html{
    scroll-behavior: smooth;
}

/*HEADER AND MENU*/
.mobile-header{
    background-color: #032C69;
    transform: translateX(-100%);
    display: flex;
    width: 100%;
    height: 5%;
    left: 0;
    top: 0;
    position: fixed;
    padding: 23px;
    align-items: flex-start;
    flex-direction: column;
    color: #dfe1e6;
    box-sizing: border-box;
    transition: all 1s;
}

.mobile-header-content{
    display: flex;
    align-items: center;
    height: 100%;
}

.mobile-header-content div{
    padding-right: 10%;
}

.desktop-header{
    display: flex;
    background-color: #032C69;
    width: 290px;
    transition: width;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    border-right: solid 1px #dfe1e6;
    padding: 50px 40px 40px;
    align-items: flex-start;
    flex-direction: column;
    color: #dfe1e6;
    box-sizing: border-box;
    transition: all 0.5s;
}

.logo{
    width: 100%;
}

.content-logo{
    width: 100%;
}

nav{
    display: block;
}

nav ul{
    list-style: none;
    padding: 0;
    margin-bottom: 130px;
    margin-top: 130px;
    left: 0;
}
nav ul li{
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    margin-right: 10px;
    left: 0;
}

a{
    text-decoration: none;
    color: #dfe1e6;
    transition: all 2s;
}

li a i{
    margin-right: 20px;
}

.container{
    margin-left: 290px;
}

.content-header{
    height: 100vh;
    background-color: #032C69;
    color: #dfe1e6;
}

.content-about{
    padding: 10% 0;
    background-color: #dfe1e6;
}

.content-header-all-rows{
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
}

.content-header-each-rows{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

.content-header-image{
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
}

.content-header-title{
    width: 100%;
    text-align: center;
    font-size: 36px;
    line-height: 1;
}

.content-header-text{
    width: 100%;
    height: 23px;
    font-size: 16px;
    line-height: 3;
    padding-bottom: 2em;
    padding-top: 1em;
}

.rotating{
    opacity: 0;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {font-size: 17px; opacity: 0%;}
    15%  {font-size: 16px; opacity: 50%;}
    20%  {font-size: 17px; opacity: 100%;}
    35%  {font-size: 16px;}
    400% {font-size: 17px;}
    5%   {font-size: 17px;}
    65%  {font-size: 16px;}
    70%  {font-size: 17px;}
    85%  {font-size: 16px; opacity: 100%;}
    90% {font-size: 17px; opacity: 50%;}
    100% {font-size: 17px; opacity: 0;}
  }

.content-header-hireme{
    width: 100%;
    font-size: 16px;
}

.btn-default{
    color: #dfe1e6;
    background: #FF4C60;
}

.btn{
    border-radius: 60px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    line-height: 1.7;
    padding: 12px 32px;
}

.content-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-title-descripcion{
    width: 60%;
    display: flex;
    justify-content: left;
    padding-bottom: 5%;
}

.content-text{
    width: 100%;
    font-size: 16px;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    color: #5e5c7f;
}

.content-text-description{
    border: solid white 1px;
    border-radius: 10px;
    background-color: white;
    padding: 3%;
    width: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.content-text-description2{
    width: 100%;
    font-size: 16px;
    text-align: justify;
    padding-bottom: 5%;
}

.content-text-skills{
    width: 100%;
    font-size: 16px;
    text-align: justify;
    display: flex;
}

.content-text-skill{
    width: 50%;
    font-size: 16px;
    padding: 1%;
    font-weight: bold;
}

.content-text-skills-cant{
    width: 50%;
    font-size: 16px;
    text-align: right;
}

.content-text-skills-progress{
    width: 100%;
    background-color: #dfe1e6;
    height: 7px;
    border-radius: 15px;
}

.content-text-skills-progress-bar{
    height: 7px;
    border-radius: 15px;
}

.content-skill-download-cv{
    padding-top: 5%;
    width: 100%;
    font-size: 16px;
}

.timeline{
    display: flex;
}

.line{
    padding-left: 3%;
    box-sizing: border-box;
    border-left: 2px solid #FF4C60;
}

.timeline2{
    width: 90%;
}

.content-text-description-all-project{
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-text-description-each-project{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 60%;
}

.content-all-project{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
}

.padding-icon{
    padding: 0 10px;
}

.content-project-img{
    height: 100%;
    max-width: 100%;
    transition: all 2s;
    background: rgba(0,0,0,0.8);
}

.content-project-img:hover{
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transition: all 2s;
}

.content-all-blog{
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
}

.content-blog-img{
    width: 200px;
    height: 70%;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
}

.content-blog-info{
    text-align: left;
    padding: 5%;
    height: 200px;
}

.hidden{
    display: none;
}

.item1 { grid-area: name;}
.item2 { grid-area: email; }
.item3 { grid-area: subject; }
.item4 { grid-area: message; }
.item5 { grid-area: submit; }

.grid-container {
    width: 100%;
    display: grid;
    grid-template-areas:
    'name name name email email email'
    'subject subject subject subject subject subject'
    'message message message message message message'
    'submit submit submit submit submit submit';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 2% 0;
    font-size: 30px;
}

input, textarea{
    padding: 5%;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: 0;
    color: #5e5c7f;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

input:focus, textarea:focus, button:hover{
    border-color: rgb(5, 5, 5);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(5, 5, 5, 0.6);
    outline: 0 none;
}

.content-return{
    height: 50px;
    width: 50px;
    bottom: 0;
    right: 0;
    padding: 2%;
    position: fixed;
}

.content-return-text{
    height: 100%;
    width: 100%;
    background-color: #FF4C60;
    border: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-return-icon{
    height: 80%;
    width: 80%;
    background-color: #dfe1e6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.content-return-icon-door{
    height: 50%;
    width: 30%;
    background-color: #FF4C60;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

@media (max-width: 770px) {
    .content-about{
        padding: 20% 0;
    }
    .close{
        font-size: 14px;
        transform: translate(-292px);
        transition: all 1s;
        z-index: 1;
    }
    
    .close1{
        margin-left: 0;
        transition: all 1s;
    }

    .content-text-description{
        width: 80%;
    }

    .mobile-header{
        transform: translateX(0);
        z-index: 10;
    }

    .show-menu-mobile{
        margin-left: 200px;
    }

    .show-menu-desktop{
        transform: translateX(0);
        width: 200px;
        transition: all 1s;
    }

    .show-main{
        z-index: 1;
    }
}